<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@{
    // TODO #3 - Use the same list display from Views/Search/Index.cshtml
    if (ViewBag.jobs.Count > 0)
    {
        @foreach (Dictionary<string, string> item in ViewBag.jobs)
        {
            @foreach (KeyValuePair<string, string> pair in item)
            {
                <table>
                    <tr>
                        <th>name</th>
                        <th>employer</th>
                        <th>location</th>
                        <th>position type</th>
                        <th>core competency</th>
                    </tr>
                    <tr>
                        <td bgcolor="shadow">name</td>
                        <td bgcolor="transparent">employer</td>
                        <td bgcolor="shadow">location</td>
                        <td bgcolor="transparent">position type</td>
                        <td bgcolor="shadow">core competency</td>
                    </tr>
                </table>
                <ul>@pair.Key @pair.Value;</ul>

            }

        }

    }
}